<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <title>{{ month|title }} Challenge</title>
    </head>
    <body>
        <h1>Title: {{ month|title }}'s Challenge</h1>
        {% if text is not None %}
           <h2>{{ text }}</h2>
        {% else %}
            <p>There is no challenge for this month yet!</p>
        {% endif %}
        <script src="" async defer></script>
    </body>
</html>