<!DOCTYPE html>
<!-- Add the line below to add static content -->
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IronMan</title>
    <!-- Loads a css file -->
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>I am IronMan</h1>
    <!-- Loads a static image -->
    <img src="{% static 'images/ironman.jpg' %}" alt="Uh Oh, failed to load!">

    <script src="" async defer></script>
</body>

</html>